*{
    margin: 0;
    padding: 0;
}

#container{
    width: 1200px;
    padding: 5px;
}

h1{
    background-color: black;
    color: white;
    margin: 15px;
}

h1 > span{
    color: aqua;
}

h2{
    background-color: purple; 
    color: white;
    text-align: center;
    margin: 15px;
}

h3{
    background-color: aqua;
    color: black;
    text-align: right;
    text-decoration: underline;
    margin: 15px;
}